{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "graphql-tag",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }],
    "transform-object-rest-spread"
  ]
}
